agent d'automatisation/2_AutomationResources/n8n_rdv_intelligent.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "rdv-prestige",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-get-id",
      "name": "Ouvrir Formulaire",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "calendar": "primary",
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "timeMin": "={{ new Date().toISOString() }}",
          "timeMax": "={{ new Date(new Date().getTime() + 7 * 24 * 60 * 60 * 1000).toISOString() }}"
        }
      },
      "id": "calendar-fetch-id",
      "name": "Check Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const events = items.map(i => ({\n  start: new Date(i.json.start.dateTime),\n  end: new Date(i.json.end.dateTime)\n}));\n\nconst slots = [];\nconst today = new Date();\n\nfor (let d = 0; d < 7; d++) {\n  let day = new Date();\n  day.setDate(today.getDate() + d);\n  if (day.getDay() === 0 || day.getDay() === 6) continue;\n\n  for (let h = 9; h <= 16; h++) {\n    for (let m of [0, 30]) {\n      let slotStart = new Date(day.getFullYear(), day.getMonth(), day.getDate(), h, m);\n      let slotEnd = new Date(slotStart.getTime() + 30 * 60000);\n\n      if (slotStart < today) continue;\n\n      const isBusy = events.some(e => \n        (slotStart >= e.start && slotStart < e.end) || \n        (slotEnd > e.start && slotEnd <= e.end)\n      );\n\n      if (!isBusy) {\n        slots.push(`<option value=\"${slotStart.toISOString()}\">${slotStart.toLocaleString('fr-FR', { weekday: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit' })}</option>`);\n      }\n    }\n  }\n}\nreturn [{ json: { options: slots.join('') } }];"
      },
      "id": "code-id",
      "name": "Générer Options",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        },
        "responseBody": "=<!DOCTYPE html>\n<html lang=\"fr\">\n<head>\n    <meta charset=\"UTF-8\">\n    <title>Happy House | Réservation Prestige</title>\n    <link href=\"https://fonts.googleapis.com/css2?family=Cinzel&family=Montserrat\" rel=\"stylesheet\">\n    <style>\n        body { background: #0F1115; color: #D4AF37; font-family: 'Montserrat', sans-serif; display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0; }\n        .form-card { background: #1A1D23; padding: 40px; border: 1px solid #D4AF37; width: 400px; text-align: center; }\n        h1 { font-family: 'Cinzel', serif; letter-spacing: 3px; }\n        input, select, textarea { width: 100%; padding: 12px; margin: 15px 0; background: #0F1115; border: 1px solid #2A2E35; color: white; box-sizing: border-box; }\n        button { background: #D4AF37; color: #0F1115; border: none; padding: 15px 30px; font-family: 'Cinzel', serif; font-weight: bold; cursor: pointer; width: 100%; transition: 0.3s; }\n        button:hover { background: white; }\n    </style>\n</head>\n<body>\n    <div class=\"form-card\">\n        <h1>HAPPY HOUSE</h1>\n        <p>Réservez votre créneau de 20 minutes</p>\n        <form action=\"/webhook/confirm-rdv\" method=\"POST\">\n            <input type=\"text\" name=\"name\" placeholder=\"Votre Nom\" required>\n            <input type=\"email\" name=\"email\" placeholder=\"Votre Email\" required>\n            <select name=\"slot\" required>\n                <option value=\"\">Choisir une heure disponible...</option>\n                {{ $json.options }}\n            </select>\n            <textarea name=\"project\" placeholder=\"Votre projet en quelques mots\"></textarea>\n            <button type=\"submit\">CONFIRMER LE RENDEZ-VOUS</button>\n        </form>\n    </div>\n</body>\n</html>"
      },
      "id": "respond-id",
      "name": "Afficher Formulaire HTML",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "confirm-rdv",
        "options": {}
      },
      "id": "webhook-post-id",
      "name": "Réception Formulaire",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        500
      ]
    },
    {
      "parameters": {
        "calendar": "primary",
        "start": "={{ $json.body.slot }}",
        "end": "={{ new Date(new Date($json.body.slot).getTime() + 30*60000).toISOString() }}",
        "additionalFields": {
          "summary": "=RDV Prestige : {{ $json.body.name }}",
          "description": "={{ $json.body.project }}\nEmail: {{ $json.body.email }}",
          "attendees": [
            "={{ $json.body.email }}"
          ]
        }
      },
      "id": "calendar-create-id",
      "name": "Ajouter à l'Agenda",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        350,
        500
      ]
    }
  ],
  "connections": {
    "Ouvrir Formulaire": {
      "main": [
        [
          {
            "node": "Check Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Calendar": {
      "main": [
        [
          {
            "node": "Générer Options",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Générer Options": {
      "main": [
        [
          {
            "node": "Afficher Formulaire HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Réception Formulaire": {
      "main": [
        [
          {
            "node": "Ajouter à l'Agenda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
