Projets/Memoire-Bachelor/03_Travail/agent soutenance/pour mon CV/signature/workflow.json
[
  {
    "id": "QSTIA2026AUDIT99",
    "name": "QuestIA Audit 2026 - Data Collection",
    "active": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "questia-audit-2026",
          "options": {}
        },
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          250,
          300
        ],
        "webhookId": "questia-audit-2026"
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json[\"source\"] }}",
                "value2": "SMS_Audit_2026"
              }
            ]
          }
        },
        "name": "Filter Source",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          450,
          300
        ]
      },
      {
        "parameters": {
          "operation": "appendRow",
          "sheetId": "VOTRE_ID_GOOGLE_SHEET_ICI",
          "range": "A:Z",
          "options": {}
        },
        "name": "Google Sheets",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 1,
        "position": [
          650,
          200
        ]
      },
      {
        "parameters": {
          "text": "🚀 **Nouveau Sondage QuestIA reçu !**\n\n**Rôle :** {{ $json[\"q0\"] }}\n**Progression Langues :** {{ $json[\"q4\"] }}\n**Budget estimé :** {{ $json[\"q19\"] }}\n\n[Voir dans Google Sheets](https://docs.google.com/spreadsheets/d/VOTRE_ID_GOOGLE_SHEET_ICI)",
          "options": {}
        },
        "name": "Notification (Slack/Discord)",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          850,
          300
        ]
      },
      {
        "parameters": {
          "url": "=https://api.callmebot.com/whatsapp.php?phone=VOTRE_TELEPHONE&text=🚀 *Nouveau Sondage QuestIA*%0A%0A*Rôle:* {{ $json[\"q0\"] }}%0A*Budget:* {{ $json[\"q19\"] }}%0A%0ACheck le Dashboard!&apikey=VOTRE_API_KEY_CALLMEBOT",
          "options": {}
        },
        "name": "WhatsApp Alert",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          850,
          450
        ]
      },
      {
        "parameters": {
          "sendTo": "julien.florence@gmail.com",
          "subject": "=🚀 QuestIA : Nouveau Lead Audit - {{ $json[\"q0\"] }}",
          "message": "=Bonjour Julien,\n\nUn nouveau prospect vient de terminer l'audit QuestIA.\n\n🎯 Profil : {{ $json[\"q0\"] }}\n💰 Budget estimé : {{ $json[\"q19\"] }}\n🌐 Langues : {{ $json[\"q5\"] }}\n\nRetrouvez tous les détails dans votre Google Sheet ou sur votre Dashboard :\nhttps://julienflorenceflorence-oss.github.io/questia-signature/dashboard.html\n\n---\nQuestIA Automation",
          "options": {}
        },
        "name": "Email Notification",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2,
        "position": [
          1050,
          300
        ]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Filter Source",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Source": {
        "main": [
          [
            {
              "node": "Google Sheets",
              "type": "main",
              "index": 0
            },
            {
              "node": "Notification (Slack/Discord)",
              "type": "main",
              "index": 0
            },
            {
              "node": "WhatsApp Alert",
              "type": "main",
              "index": 0
            },
            {
              "node": "Email Notification",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "staticData": null,
    "meta": null,
    "pinData": {},
    "tags": []
  }
]
